@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,300,500,600,700,800,900,&display=swap);
.wrapper {
  padding-top: 50px;
  max-width: 100%;
  font-family: "Poppins";
}
img {
  max-width: 100%;
}
[class*="__container"] {
  max-width: 1230px;
  padding: 0px 15px;
  margin: 0 auto;
}
.achievement__container {
  margin-bottom: 100px;
}
.achievement__title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  display: flex;
  gap: 26px;
  margin-bottom: 40px;
}
.achievement__title::after {
  content: "";
  display: inline-block;
  width: 464px;
  height: 2px;
  background-color: #000000;
  align-self: center;
}
.achievement__items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.items-achievement {
}
.items-achievement__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.items-achievement__image {
  flex: 0 1 62%;
  overflow: hidden;
}
.items-achievement__image img {
  transition: all 0.8s ease 0s;
}
.items-achievement__image img:hover {
  transform: scale(1.2);
}
.items-achievement__info {
  flex: 0 1 28%;
}
.achievement-info {
}
.achievement-info__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4;
  color: #333333;
  margin-bottom: 20px;
}
.achievement-info__title::first-letter {
  text-transform: uppercase;
}
.achievement-info__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #9c9c9c;
}
.room__container {
}
.room__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 140%;
  color: #000000;
  text-align: center;
  margin-bottom: 40px;
  text-transform: capitalize;
}
.room__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #000000;
  max-width: 520px;
  margin: 0 auto 53px;
}
.room__image {
  margin-bottom: 100px;
}
.room__info {
}
.info {
  display: flex;
  justify-content: space-between;
  margin: 0px -15px 82px;
  flex-wrap: wrap;
  row-gap: 40px;
}
.info__item:nth-child(3) {
  flex: 0 1 100%;
}
.info__item {
  flex: 1 1 50%;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
}
.overview {
}
.overview__title,
.design__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4;
  color: #333333;
  margin-bottom: 24px;
}
.overview__text,
.design__text,
.overview__data {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #9c9c9c;
}
.overview__text {
  margin-bottom: 60px;
}
.design__text p:not(:last-child) {
  margin-bottom: 30px;
}
.overview__data {
  display: flex;
  gap: 15px;
}
.overview__date {
  flex: 0 1 35%;
}
.overview__style {
}
.info__design {
}
.design {
}
.room__gallery {
}
.gallery {
}
.gallery__items {
  display: flex;
  justify-content: space-between;
  margin: 0px -16px;
  flex-wrap: wrap;
  row-gap: 32px;
}
.gallery__item {
  overflow: hidden;
  padding: 0px 16px;
  flex: 0 1 50%;
}
.gallery__item:nth-child(3n+3) {
  flex: 0 1 100%;
}
