@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700,700italic&display=swap);
body{
	font-family: 'Poppins';
	background: rgba(94, 94, 94, 0.05);
}
main{
	margin: 0 auto;
}
.wrapper,
.block1 {
	padding: 0px 100px;
	margin: 0 auto;
	max-width: 1440px;
}
.text1,
.text2,
.text3 {
	margin: 0 auto 70px;
	max-width: 816px;
}
h1,
h2{
	color: #212529;
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	max-width: 50%;
	margin: 0px 0px 40px 0px;
}
h2{
	max-width: 75%;
}
.paragraph {
	font-weight: 300;
	font-size: 14px;
	line-height: 1.78;
	color: #6C757D;
	margin: 0px 0px 25px 0px;
}
img{
	max-width: 100%;
}
.photo2 img{
	max-width: 50%;
}
.photo1,
.photo2 {
	margin: 0px 0px 80px 0px;
	font-size: 0;
}
.boat{
	padding: 0px 15px 0px 0px;

}
.island{
	padding: 0px 0px 0px 15px;
}

.block1 {
	min-height: 500px;
	padding: 36px 100px 0px 100px;
	background: url("img/unsplash_ndN00KmbJ1c.jpg") 0 0 no-repeat;
	margin: 0px 0px 80px 0px;
}
.header {
	}
.header__row {
	display: flex;
	justify-content: space-between;
	}
.header__column {
	display: flex;
	}
.header__item {
	margin: 0px 25px 0px 0px;

	}
.vence {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.38;
	color: #F8F9FA;
	margin: 0px 0px 164px 0px;
}
.second {
	font-weight: 500;
	font-size: 12px;
	line-height: 2.08;
	color: rgba(248, 249, 250, 0.5);
}
.vector1::after{
	/* It is needed to fix this and make the vector display itself */
	content: '';
	background: url(/img/Vector.jpg)0 0 no-repeat;
}
.inspiration{
	padding-bottom: 125px;
	text-align: center;
	font-weight: 300;
	font-size: 12px;
	line-height: 1.66;
	color: #E5E5E5;
}
.creat {
	word-spacing: 10px;
	margin: 0px 0px 15px 0px;
}
.like {
	max-width: 500px;
	margin: 0 auto 15px;
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	color: #F8F9FA;
}
.cred p{
	display: inline-block;
	font-weight: 300;
	font-size: 12px;
	line-height: 1.66;
	color: #6C757D;
	margin: 0px 25px 15px 0px;
}
p.name{
	font-weight: 700;
}
.buttons {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 8px;
	line-height: 2.5;
	text-align: center;
	color: #6C757D;
	max-width: 816px;
	margin: 0 auto 100px;
}
.buttons__row {
	display: flex;
	justify-content: space-between;
}
.buttons__column {
	display: flex;
}
.buttons__item {
	margin: 0px 15px 0px 0px;
	padding: 2px 13px;
	border: 1px solid #C4C4C4;
	border-radius: 3px;
}
.share{
	border: 0px;
	background: url(img/software-upload.svg) 1px 7px no-repeat;
}
.news{
	background: rgba(94, 94, 94, 0.05);
	padding: 100px;
}
.latest{
	font-weight: 500;
	font-size: 25px;
	line-height: 0.8;
	color: #495057;
	margin: 0px 0px 60px 0px;
}
.articles {
}
.articles__row {
	display: flex;
	justify-content: space-between;
	gap: 15px;
	flex-wrap: wrap;
}
.articles__column {
	flex-grow: 1;
}
.articles__item {
}
.articles__item-row {
	display: flex;
	gap: 15px;
	
}
.articles__item-column img {
	max-height: 200px;
	max-width: 200px;
}
.categories {
	text-transform: capitalize;
	font-weight: 300;
	font-size: 12px;
	line-height: 1.67;
	color: #495057;
	margin: 0px 0px 15px 0px;
}
.news-text {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.56;
	color: #212529;
}
footer{
	background-color: #212529;
	padding: 100px;
	min-height: 325px;
	color: rgba(248, 249, 250, 0.5);
}
span{
	color:#DDBEA9;
}
.footer__row .vence{
	margin: 0;
}
.footer__container {
}
.footer__row {
	display: flex;
	justify-content: space-between;
}
.footer__column {
}
.top {
}
.vence {
}
.bottom {
}
.row1{
	margin: 0px 0px 40px 0px;
	padding: 0px 0px 40px 0px;
	border-bottom: 1px solid rgba(229, 229, 229, 0.2);;
}
.row2{

}
a{
	display: inline-block;
	margin-right: 25px;
}
